body{
    max-width: 2500px;
    margin: auto;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    box-shadow: 0px 5px 6px 0px #DCDCDC;

}
.header-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo-bck{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom right,#D140F8, #788CE9, #37C2DE, #1ECCAE);
    border-radius: 12px;
}

.header-logo-bck__txt{
    color: white;
    font-size: 1.3rem;
    opacity: 90%;
}

.header-logo__text{
    font-size:1.5rem;
    font-weight: bold;
    padding-left: 9px;
}

.header-nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav-list__item{
    font-size: 1.5rem;
    padding-left: 32px;
    color: #666666;
}

.header-nav-list__item__button{
    width: 172px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
}




.section-white{
    height: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.section-white-left{
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: baseline;
}

.section-white-left-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-white-left-logo-bck{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom right,#D140F8, #788CE9, #37C2DE, #1ECCAE);
    border-radius: 12px;
}

.section-white-left-logo-bck__txt{
    color: white;
    font-size: 3rem;
    opacity: 90%;
}

.section-white-left-logo__txt{
    font-size:3.5rem;
    font-weight: bold;
    padding-left: 14px;
}

.section-white-left__topic{
    height: 120px;
    width: 400px;
    font-size: 54px;
    line-height: 59.5px;
    margin-top: 10px;
}

.section-white-left__article{
    width: 394px;
    height: 72px;
    font-size: 1.6rem;
    line-height: 24px;
    margin-top: 20px;
}

.section-white-left-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.setcion-white-left-buttons__item{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
}

.section-white-right{
    position: relative;
    top: 425px;
}


.section-white-right__top{
    position: relative;
    top: -528px;
    left: 28px;
    z-index: 2;
}
.section-white-right__bot{
    position: relative;
    z-index: 3;
}

.section-black{
    background-color:#222222;
    position: relative;
    padding-top: 75px;
    z-index: 4;
    top: -20px;

}

.section-black-header{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.section-black-header__topic{
    color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 2px;
}

.section-black-header__title{
    width: 495px;
    height: 75px;
    color: #ffffff;
    font-size: 3.2rem;
    text-align: center;
}

.section-black-total{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 80px;
}

.section-black-first{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;

}

/* не совсем понимаю как работает расположение по центру, нашел такой вариант, сделал так. Нужна подсказка мастера */
/* да и в целом по расположению содержимого внутри блока у меня какие-то беды */
.section-black-first__botpic{
    position: relative;
    z-index: 1;
    border-radius: 20px;
    right: -50%;
    transform: translateX(-50%);
}

.section-black-first__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 45%;
    z-index: 9999;
    background-color: #F2F2F2;
    height: 200px;
    border-radius: 0 0 20px 20px;
}

.section-black-first-midpic{
    position: relative;
    background-color: #0278ED;
    height: 6.4rem;
    width: 6.4rem;
    padding-left: 20px;
    padding-top: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;    
    
}

.section-black-first-bg-midpic__item{
    position: relative;
    height: 27px;
    width: 24px;

}

.section-black-first__topic{
    position: relative;
    color: #0278ED;
    font-size: 2.4rem;
    font-style:inherit;
    font-weight: inherit;
    text-align: center;
    /* margin-top: 20px; */
    top: -20%;
}

.section-black-first__article{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    color: #222222;
    font-size: 1.5rem;
    text-align: center;
    top: -15%;
}




.section-black-second{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
}

.section-black-second__botpic{
    position: relative;
    z-index: 2;
    right: -50%;
    transform: translateX(-50%);
}
.section-black-second__toppic{
    position: relative;
    top: -441px;
    z-index: 1;
    right: -50%;
    transform: translateX(-50%)
}

.section-black-second__text{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    position: relative;
    z-index: 5;
    background-color: #F2F2F2;
    height: 200px;
    border-radius: 0 0 20px 20px;
    top: -616px;
    
}

.section-black-second-midpic{
    position: relative;
    background-color: red;
    height: 6.4rem;
    width: 6.4rem;
    padding-left: 20px;
    padding-top: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;    
}

.section-black-second__topic{
    position: relative;
    color: red;
    font-size: 2.4rem;
    font-style:inherit;
    font-weight: inherit;
    text-align: center;
    /* margin-top: 20px; */
    top: -10%;
}

.section-black-second__article{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    color: #222222;
    font-size: 1.5rem;
    text-align: center;
    top: -5%;
}



.section-black-third{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
}

.section-black-third__botpic{
    position: relative;
    z-index: 2;
    right: -50%;
    transform: translateX(-50%);
}

.section-black-third__text{
    position: relative;
    z-index: 5;
    background-color: #F2F2F2;
    height: 200px;
    border-radius: 0 0 20px 20px;
    top: -206px;
    
}

.section-black-third-midpic{
    position: relative;
    background-color: #FF9209;
    height: 6.4rem;
    width: 6.4rem;
    padding-left: 20px;
    padding-top: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;    
}

.section-black-third__topic{
    position: relative;
    color: #FF9209;
    font-size: 2.4rem;
    font-style:inherit;
    font-weight: inherit;
    text-align: center;
    /* margin-top: 20px; */
    top: -10%;
}

.section-black-third__article{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    color: #222222;
    font-size: 1.5rem;
    text-align: center;
    top: -5%;
}




.section-black-forth{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
}

.section-black-forth__botpic{
    position: relative;
    z-index: 2;
    right: -50%;
    transform: translateX(-50%);
}
.section-black-forth__toppic{
    position: relative;
    top: -441px;
    z-index: 1;
    right: -50%;
    transform: translateX(-50%)
}

.section-black-forth__text{
    position: relative;
    z-index: 5;
    background-color: #F2F2F2;
    height: 200px;
    border-radius: 0 0 20px 20px;
    top: -630px;
    
}

.section-black-forth-midpic{
    position: relative;
    background-color: #E738CE;
    height: 6.4rem;
    width: 6.4rem;
    padding-left: 20px;
    padding-top: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;    
}

.section-black-forth__topic{
    position: relative;
    color: #E738CE;
    font-size: 2.4rem;
    font-style:inherit;
    font-weight: inherit;
    text-align: center;
    /* margin-top: 20px; */
    top: -10%;
}

.section-black-forth__article{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    color: #222222;
    font-size: 1.5rem;
    text-align: center;
    top: -5%;
}







.section-black-fifth{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
}

.section-black-fifth__botpic{
    position: relative;
    z-index: 2;
    right: -50%;
    transform: translateX(-50%);
}

.section-black-fifth__text{
    position: relative;
    z-index: 5;
    background-color: #F2F2F2;
    height: 200px;
    border-radius: 0 0 20px 20px;
    top: -206px;
    
}

.section-black-fifth-midpic{
    position: relative;
    background-color: #00C6DF;
    height: 6.4rem;
    width: 6.4rem;
    padding-left: 20px;
    padding-top: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;    
}

.section-black-fifth__topic{
    position: relative;
    color: #00C6DF;
    font-size: 2.4rem;
    font-style:inherit;
    font-weight: inherit;
    text-align: center;
    /* margin-top: 20px; */
    top: -10%;
}

.section-black-fifth__article{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    color: #222222;
    font-size: 1.5rem;
    text-align: center;
    top: -5%;
}






.section-black-sixth{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
}

.section-black-sixth__botpic{
    position: relative;
    z-index: 2;
    right: -50%;
    transform: translateX(-50%);
}
.section-black-sixth__toppic{
    position: relative;
    top: -441px;
    z-index: 1;
    right: -50%;
    transform: translateX(-50%)
}

.section-black-sixth__text{
    position: relative;
    z-index: 5;
    background-color: #F2F2F2;
    height: 200px;
    border-radius: 0 0 20px 20px;
    top: -630px;
    
}

.section-black-sixth-midpic{
    position: relative;
    background-color: #B25DF8;
    height: 6.4rem;
    width: 6.4rem;
    padding-left: 20px;
    padding-top: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;    
}

.section-black-sixth__topic{
    position: relative;
    color: #B25DF8;
    font-size: 2.4rem;
    font-style:inherit;
    font-weight: inherit;
    text-align: center;
    /* margin-top: 20px; */
    top: -10%;
}

.section-black-sixth__article{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    color: #222222;
    font-size: 1.5rem;
    text-align: center;
    top: -5%;
}



/* пришлось поднять секцию вручную как я понимаю из-за того, что до этого я поднимал картинку. Если не трогать - остается пустое пространство. Как исправить не понимаю */
.section-red{
    position: relative;
    top: -20px;
    height: 320px;
    background-color: #FF5437;
    padding-top: 70px;
    
}

.section-red-numbers{
    display: flex;
    justify-content: space-evenly;

}

.section-red-words{
    display: flex;
    justify-content: space-evenly;

}

.section-red-numbers__item{
    font-size: 9.6rem;
    color: white;
    font-weight: inherit;
}

.section-red-words__item{
    font-size: 1.4rem;
    color: #ffffff;
    letter-spacing: 2px;
}









.section-double-top{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    }

.section-double-top-text{
    position: relative;
    display: flex;
    flex: wrap;
    flex-direction: column;
    top: -250px;
        
}

.section-double-top-text__pretopic{
    color: #222222;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.section-double-top-text__topic{
    color: #222222;
    font-size: 3.2rem;
    width: 410px;
    margin-bottom: 15px;
}

.section-double-top-text__article{
    color: #222222;
    font-size: 1.6rem;
    width: 410px;
}

.section-double-top-pic{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 225px;
}


.section-double-top-pic__top{
    position: relative;
    top: -628px;
    left: 28px;
    z-index: 2;
}
.section-double-top-pic__bot{
    position: relative;
    top: -99px;
    z-index: 3;
}







.section-double-bot{
    position: relative;
    background-color:#F2F2F2;
    top: -600px;
    z-index: 6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-height: 650px;
}

.section-double-bot-text__pretopic{
    color: #222222;
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.section-double-bot-text__topic{
    color: #222222;
    font-size: 3.2rem;
    width: 410px;
    margin-bottom: 15px;
}

.section-double-bot-text__article{
    color: #222222;
    font-size: 1.6rem;
    width: 410px;
}

.section-double-bot-pic{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 525px;
}

.section-double-bot-pic__top{
    position: relative;
    top: -628px;
    left: 28px;
    z-index: 2;
}
.section-double-bot-pic__bot{
    position: relative;
    top: -99px;
    z-index: 3;
}





.section-dm{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #222222;
    height: 1000px;
    top: -600px;
    z-index: 6;
    padding-top: 100px;
}

.section-dm-pic{
    position: relative;
    
}

.section-dm-pretopic{
    color: white;
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.section-dm-topic{
    color: white;
    font-size: 32px;
    margin-bottom: 15px;
}

.section-dm-paragraph{
    color: white;
    font-size: 18px;
    width: 580px;
    text-align: center;
    margin-bottom: 30px;
}

.section-dm-pic__bot{
    left: 50%;
    transform: translateX(-50%);
}

.section-dm-pic__top{
    position: relative;
    left: -50%;
    transform: translateX(50%);
    z-index: 1;
}

.section-dm-bot{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    z-index: 10;
    padding-top: 50px;
    
}
.section-dm-mode{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-dm-pic__bot{
    position: relative;
    z-index: 2;
}

.section-dm-mode__pic{
    position: relative;
    height: 24px;
    width: 24px;
    left: 50%;
    transform: translateX(-50%);
}

.section-dm-mode__text{
    position: relative;
    color: white;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-top: 5px;
}

.section-dm__line{
    height: 2px;
    width: 600px;
}




.section-price{
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -600px;
    background-color: #D140F8;
    
}

.section-price-pretopic{
    color: black;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-top: 100px;
}

.section-price-topic{
    color: black;
    font-size: 3.2rem;
    padding-top: 5px;
    
}

.section-price-article{
    color: #666666;
    font-size: 1.8rem;
    width: 570px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.section-price-blocks{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.section-price-blocks__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 340px;
    border-radius: 20px;
    background-color: #F2F2F2;
}

.section-price-blocks__name{
    font-size: 1.8rem;
    padding-top: 50px;
}

.section-price-blocks__price{
    font-size: 10.8rem;
    line-height: 115px;
    padding-top: 10px;
}

.section-price-blocks__period{
    font-size: 1.4rem;
    padding-top: 25px;
    padding-bottom: 20px;
}

.blue{
    color: #0278ED;
}

.red{
    color:#FF5437;
}

.orange{
    color: #FF9209;
}

.section-price-blocks__button__blue{
    width: 130px;
    height: 40px;
    background-color: #0278ED;
    color: white;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
    border-width: 0px;
}

.section-price-blocks__button__red{
    width: 130px;
    height: 40px;
    background-color: #FF5437;
    color: white;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
    border-width: 0px;
}

.section-price-blocks__button__orange{
    width: 130px;
    height: 40px;
    background-color: #FF9209;
    color: white;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
    border-width: 0px;
}




.section-test{
    background-color: #F2F2F2;
    height: 560px;
}

.section-test-pretopic{
    color: black;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-top: 100px;
}

.section-test-topic{
    color: black;
    font-size: 3.2rem;
    padding-top: 5px;
    
}

.section-test-article{
    color: #666666;
    font-size: 1.8rem;
    width: 570px;
    padding-top: 15px;
    padding-bottom: 40px;
}

.section-test-blocks{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.section-test-blocks__item{
    width: 380px;
    height: 230px;
    border-radius: 20px;
    background-color: white;
}

.section-test-block__article{
    font-size: 1.6rem;
    text-align: left;
    width: 310px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.section-test-block__bottom{
    display: flex;
    flex-direction: row;
}