.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    box-shadow: 0px 5px 6px 0px #DCDCDC;

}
.header-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-logo-bck{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(to bottom right,#D140F8, #788CE9, #37C2DE, #1ECCAE);
    border-radius: 12px;
}

.header-logo-bck__txt{
    color: white;
    font-size: 1.3rem;
    opacity: 90%;
}

.header-logo__text{
    font-size:1.5rem;
    font-weight: bold;
    padding-left: 9px;
}

.header-nav-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-nav-list__item{
    font-size: 1.5rem;
    padding-left: 32px;
    color: #666666;
}

.header-nav-list__item__button{
    width: 172px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
}




.section-white{
    height: 690px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.section-white-left{
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: baseline;
}

.section-white-left-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-white-left-logo-bck{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom right,#D140F8, #788CE9, #37C2DE, #1ECCAE);
    border-radius: 12px;
}

.section-white-left-logo-bck__txt{
    color: white;
    font-size: 3rem;
    opacity: 90%;
}

.section-white-left-logo__txt{
    font-size:3.5rem;
    font-weight: bold;
    padding-left: 14px;
}

.section-white-left__topic{
    height: 120px;
    width: 400px;
    font-size: 54px;
    line-height: 59.5px;
    margin-top: 10px;
}

.section-white-left__article{
    width: 394px;
    height: 72px;
    font-size: 1.6rem;
    line-height: 24px;
    margin-top: 20px;
}

.section-white-left-buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.setcion-white-left-buttons__item{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: 2px;
    border-radius: 4px;
}

.section-white-right{
    position: relative;
    top: 425px;
}


.section-white-right__top{
    position: relative;
    top: -528px;
    left: 28px;
    z-index: 2;
}
.section-white-right__bot{
    position: relative;
    z-index: 3;
}

.section-black{
    background-color:#222222;
    position: relative;
    padding-top: 75px;
    z-index: 4;
    top: -20px;

}

.section-black-header{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.section-black-header__topic{
    color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: 2px;
}

.section-black-header__title{
    width: 495px;
    height: 75px;
    color: #ffffff;
    font-size: 3.2rem;
    text-align: center;
}

.section-black-first{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;

}

/* не совсем понимаю как работает расположение по центру, нашел такой вариант, сделал так. Нужна подсказка мастера */
/* да и в целом по расположению содержимого внутри блока у меня какие-то беды */
.section-black-first__botpic{
    position: relative;
    z-index: 1;
    border-radius: 20px;
    right: -50%;
    transform: translateX(-50%);
}

.section-black-first__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 45%;
    z-index: 9999;
    background-color: #F2F2F2;
    height: 200px;
    border-radius: 0 0 20px 20px;
}

.section-black-first-midpic{
    position: relative;
    background-color: #0278ED;
    height: 6.4rem;
    width: 6.4rem;
    padding-left: 20px;
    padding-top: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -25%;    
    
}

.section-black-first-bg-midpic__item{
    position: relative;
    height: 27px;
    width: 24px;

}

.section-black-first__topic{
    position: relative;
    color: #0278ED;
    font-size: 2.4rem;
    font-style:inherit;
    font-weight: inherit;
    text-align: center;
    /* margin-top: 20px; */
    top: -20%;
}

.section-black-first__article{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    color: #222222;
    font-size: 1.5rem;
    text-align: center;
    top: -15%;
}




.section-black-second{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
}

.section-black-second__botpic{
    position: relative;
    z-index: 2;
    right: -50%;
    transform: translateX(-50%);
}
.section-black-second__toppic{
    position: relative;
    top: -441px;
    z-index: 1;
    right: -50%;
    transform: translateX(-50%)
}

.section-black-second__text{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    position: relative;
    z-index: 5;
    background-color: #F2F2F2;
    height: 200px;
    border-radius: 0 0 20px 20px;
    top: -616px;
    
}

.section-black-second-midpic{
    position: relative;
    background-color: red;
    height: 6.4rem;
    width: 6.4rem;
    padding-left: 20px;
    padding-top: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -15%;    
}

.section-black-second__topic{
    position: relative;
    color: red;
    font-size: 2.4rem;
    font-style:inherit;
    font-weight: inherit;
    text-align: center;
    /* margin-top: 20px; */
    top: -10%;
}

.section-black-second__article{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    color: #222222;
    font-size: 1.5rem;
    text-align: center;
    top: -5%;
}



.section-black-third{
    height: 490px;
    width: 390px;
    padding-top: 40px;
    background-color: white;
    border-radius: 20px;
}

.section-black-third__botpic{
    position: relative;
    z-index: 2;
    right: -50%;
    transform: translateX(-50%);
}




